<div class="page-header">
    <div class="header-content">
        <h1 class="page-title">
            <mat-icon class="inline-back-icon" (click)="goBack()">chevron_left</mat-icon>
            {{ product?.name }} COGS
        </h1>
     </div>
</div>

<!-- ITEMS TABLE -->
<div class="table-container">
  <table mat-table [dataSource]="product?.items" class="modern-table">

    <!-- Qty -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Qty</th>
      <td mat-cell *matCellDef="let i">{{ i.quantity }}</td>
    </ng-container>

    <!-- Name -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let i">{{ i.name }}</td>
    </ng-container>

    <!-- Cost -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Cost</th>
      <td mat-cell *matCellDef="let i">{{ i.price }}</td>
    </ng-container>

    <!-- Weight -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef>Weight (g)</th>
      <td mat-cell *matCellDef="let i">{{ i.weight }}</td>
    </ng-container>

    <!-- Shipping -->
    <ng-container matColumnDef="shippingCost">
      <th mat-header-cell *matHeaderCellDef>Shipping</th>
      <td mat-cell *matCellDef="let i">{{ i.shippingCost }}</td>
    </ng-container>

    <!-- Landed -->
    <ng-container matColumnDef="landedCost">
      <th mat-header-cell *matHeaderCellDef>Landed Cost</th>
      <td mat-cell *matCellDef="let i">{{ i.landedCost }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>

<!-- TOTALS SECTION -->
<div class="totals-container">

  <div class="totals-row">

    <div class="totals-label">Total Landed Cost:</div>
    <div class="totals-value">{{ product?.landedCost }}</div>

    <div class="totals-label">Over Head:</div>
    <div class="totals-value">{{ product?.overHead }}</div>

    <div class="totals-label">Final Cost:</div>
    <div class="totals-value final">{{ product?.finalCost }}</div>

  </div>
</div>

<!-- OFFERS TABLE -->
<div class="table-container" *ngIf="offers.length > 0">

  <table mat-table [dataSource]="offers" class="modern-table">

    <!-- Offer Name -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let o">{{ o.name }}</td>
    </ng-container>

    <!-- Quantity -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Qty</th>
      <td mat-cell *matCellDef="let o">{{ o.quantity }}</td>
    </ng-container>

    <!-- Unit Cost -->
    <ng-container matColumnDef="unitCost">
      <th mat-header-cell *matHeaderCellDef>Unit Cost</th>
      <td mat-cell *matCellDef="let o">$ {{ o.product.finalCost }}</td>
    </ng-container>

    <!-- Delivery -->
    <ng-container matColumnDef="delivery">
      <th mat-header-cell *matHeaderCellDef>Delivery</th>
      <td mat-cell *matCellDef="let o">$ {{ o.delivery }}</td>
    </ng-container>

    <!-- total Cost -->
    <ng-container matColumnDef="totalCost">
      <th mat-header-cell *matHeaderCellDef>Total Cost</th>
      <td mat-cell *matCellDef="let o">$ {{ o.totalCost }}</td>
    </ng-container>

    <!-- Selling Price -->
    <ng-container matColumnDef="sellingPrice">
      <th mat-header-cell *matHeaderCellDef>Selling Price</th>
      <td mat-cell *matCellDef="let o">$ {{ o.sellingPrice }}</td>
    </ng-container>

    <!-- Gross Profit -->
    <ng-container matColumnDef="grossProfit">
      <th mat-header-cell *matHeaderCellDef>Gross Profit</th>
      <td mat-cell *matCellDef="let o">$ {{ o.grossProfit }}</td>
    </ng-container>

    <!-- Gross Margin -->
    <ng-container matColumnDef="grossMargin">
      <th mat-header-cell *matHeaderCellDef>Gross Margin</th>
      <td mat-cell *matCellDef="let o">{{ o.grossMargin }} %</td>
    </ng-container>

    <!-- ROAS -->
    <ng-container matColumnDef="roas">
      <th mat-header-cell *matHeaderCellDef>ROAS</th>
      <td mat-cell *matCellDef="let o">{{ o.roas }}</td>
    </ng-container>

    <!-- Target CAC -->
    <ng-container matColumnDef="targetCAC">
      <th mat-header-cell *matHeaderCellDef>Target CAC</th>
      <td mat-cell *matCellDef="let o">$ {{ o.targetCAC }}</td>
    </ng-container>

    <!-- Net Profit -->
    <ng-container matColumnDef="netProfit">
      <th mat-header-cell *matHeaderCellDef>Net Profit</th>
      <td mat-cell *matCellDef="let o">$ {{ o.netProfit }}</td>
    </ng-container>

    <!-- Net Margin -->
    <ng-container matColumnDef="netMargin">
      <th mat-header-cell *matHeaderCellDef>Net Margin</th>
      <td mat-cell *matCellDef="let o">{{ o.netMargin }} %</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="offerColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: offerColumns;"></tr>

  </table>
</div>

<div *ngIf="offers.length === 0" class="empty-message">
  No offers exist for this product.
</div>