.main-container {
  height: 100vh;
}

// ----------------- Side Bar ----------------- //

mat-sidenav.sidebar {
  width: 200px !important;
  background: #f8fafc;
  color: #111827;
  padding: 0;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden !important;
  transition: width 0.3s ease;
}

mat-sidenav.sidebar.closed {
  width: 60px !important;
}

mat-sidenav.sidebar .mat-drawer-inner-container {
  overflow: hidden !important;
}

.sidebar.closed {
  .logo-text {
    display: none;
  }

  .nav-item {
    justify-content: center;
    padding: 0;

    span[matListItemTitle] {
      display: none;
    }

    mat-icon {
      margin-right: 0 !important;
    }
  }
}

// mat-sidenav-container .mat-sidenav-content {
//   margin-left: 200px !important;
// }

.toggle-btn {
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 1000;
}

// ----------------- Logo ----------------- //

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 10px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.4px;
  background: transparent;
  border-bottom: 1px solid #e5e7eb;
  margin-bottom: 10px;
  gap: 10px;
  overflow: hidden;

  .logo-icon {
    font-size: 24px;
    width: 24px;
    height: 24px;
    color: #6b7280;
  }

  .logo-text {
    color: #111827;
  }
}

// ----------------- Navigation List ----------------- //

.nav-list {
  padding-top: 8px;

  a.nav-item {
    display: flex;
    align-items: center;

    margin: 0px 0px;
    height: 35px;
    padding: 0 5px;
    border-radius: 5px;

    font-size: 10px;
    font-weight: 500;
    color: #374151;
    text-decoration: none;
    transition: none;

    &.active-link {
      font-weight: 600;
      color: #111827;

      mat-icon {
        color: #111827;
      }
    }

    mat-icon {
      font-size: 20px;
      width: 20px;
      height: 20px;
      color: #6b7280;
    }
  }
}

// ----------------- Content ----------------- //

.content {
  padding: 20px;
  background: #f5f6f8;
  min-height: 100vh;
}
