.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 400px;
  padding: 16px 0;

  mat-form-field {
    width: 100%;
  }
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 600;
  color: #111827;
}
